*{
    box-sizing: border-box;
    
}
:root{
    --main-color:#2a1e4f;
    --secondary-color:#f0edf6;
    --accent-color:#f0a02e;   
   --text-light:#9c94b9;

}



body{
   background-color: var(--secondary-color);
}


/* ------------------- */
/* start media query */


/* Smaller Samrtphones*/
@media (max-width: 480px) {}


/* Tablets & Lager smartphones*/
@media (min-width: 481px) and (max-width: 768px) {}


/* Laptops ,Larger tablets */
@media (min-width: 769px) and (max-width:1279px ) {}
 

/*Larger desktops and monitors*/
@media (min-width: 1280px) {}


/* end media query */
/* --------------------------------- */


/* Start navbar */
.navbar{
    background-color:var(--main-color);
    color: white;
}
.navbar .navbar-nav .nav-link{
    color:var(--text-light);
    
}
.navbar .navbar-nav .nav-link:active,.navbar .navbar-nav .nav-link:hover,.navbar .navbar-nav .nav-link:focus{
    color:var(--accent-color) ;
}
.navbar-toggler{
    background-color:var(--text-light);
}
.navbar-brand{
    color: aliceblue;
}
/* End navbar */


/* --------------- */

/* start footer */
.footer{
    
    color: #9c94b9;
    background-color: var(--main-color);
}
.footer i, h5{
    display: inline-block;
    color: var(--text-light);
}
.footer i:hover ,i:active{
    color: var(--accent-color);
}
/* end footer */